pipeline/pipeline_for_chao.json
{
	"name": "pipeline_for_chao",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select DateKey from @{pipeline().parameters.tableName} where DateKey=@{pipeline().parameters.excuteDate}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Dim_Date",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.tableName} where DateKey='@{activity('Lookup1').output.firstRow.DateKey}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dim_Date",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "test_for_chao",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@CONCAT('acv_', pipeline().parameters.tableName, pipeline().parameters.excuteDate,utcnow(),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"tableName": {
				"type": "string",
				"defaultValue": "''"
			},
			"excuteDate": {
				"type": "string",
				"defaultValue": "''"
			}
		},
		"folder": {
			"name": "test_for_bi"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}