pipeline/pipeline_for_bi.json
{
	"name": "pipeline_for_bi",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select DateKey from @{pipeline().parameters.tableName} where DateKey=@{pipeline().parameters.excuteDate}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Dim_Customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.tableName} where DateKey='@{activity('Lookup1').output.firstRow.DateKey}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dim_Date",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DimDate_t",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.targetTable",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[TruncateTables]",
					"storedProcedureParameters": {
						"databaseName": {
							"value": "dbo",
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.targetTable",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDemo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string",
				"defaultValue": "''"
			},
			"excuteDate": {
				"type": "string",
				"defaultValue": "''"
			},
			"targetTable": {
				"type": "string",
				"defaultValue": "''"
			}
		},
		"folder": {
			"name": "test_for_bi"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}